name: Humble CI - Build and Test

on:
  push:
    branches:
      - 'humble'
  pull_request:
  workflow_dispatch:
    branches:
      - '*'

jobs:
  build_and_test:
    uses: naturerobots/github_automation_public/.github/workflows/ros_ci.yaml@main
    secrets: inherit
