name: Melodic CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ros-tooling/setup-ros@v0.1
        with:
          submodules: recursive
      - name: docker setup and build
        run: docker build . -t mesh_nav/melodic -f ci/Dockerfile-melodic
      - name: catkin lint
        run: docker run mesh_nav/melodic catkin_lint src
