name: Noetic CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ros-tooling/setup-ros@v0.1
        with:
          submodules: recursive
      - name: docker setup and build
        run: docker build . -t mesh_nav/noetic -f ci/Dockerfile-noetic
      - name: catkin lint
        run: docker run -it mesh_nav/noetic catkin_lint src
